body {
  padding-top: 54px;
  background: #eee;
  font-family: 'Open Sans', sans-serif; }

@media (min-width: 992px) {
  body {
    padding-top: 56px; } }

.option-item {
  box-sizing: border-box;
  background-color: #d70000;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 14px;
  margin-top: 0;
  padding: 20px 20px 20px 20px;
  border: 0 none;
  box-shadow: none;
  transition: all 0.3s ease-out;
  width: 80%;
  display: block;
  margin-bottom: 15px;
  min-width: 330px; }

.option-item:hover {
  background-color: #000;
  color: #FFFFFF;
  text-decoration: none; }

.option-item .option-dia {
  font-size: 30px; }

.option-item .option-divider {
  border-left: 2px dotted #fff;
  width: 5px;
  display: inline;
  height: 18px;
  margin: 0 10px; }

.option-item .option-wheel-params {
  display: inline-block; }

.option-item .option-wheel-params div:first-child {
  margin: 0 0 10px; }

.option-item .option-axis {
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  top: -10px; }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.option--trim-generation {
  position: absolute;
  top: -13px;
  color: #666;
  font-size: 15px;
  white-space: nowrap;
  right: 10px; }

.select2-results__option--highlighted .option--trim-generation,
.select2-results__option--highlighted .option--trim-market {
  color: #fff; }

.option--trim-name {
  position: relative;
  display: block; }

.option--trim-market {
  position: absolute;
  top: -13px;
  color: #666;
  font-size: 15px;
  left: 0; }

#select2-selectTrim-results .select2-results__option {
  padding: 1rem 0.375rem; }

.option--trim-name-value {
  position: relative;
  top: 9px;
  font-size: 19px; }

#select2-selectTrim-results li:first-child {
  display: none; }
